:root {
  --color-white: #FFFFFF;
  --color-gray: #FCFCFD;
  --color-dark: #5E636E;

  --color-green: #01FFC2;
  --color-purple: #7156FB;
  --color-purple-gradient: linear-gradient(180.00deg, rgba(113, 86, 251, 0.2),rgba(255, 13, 255, 0.2) 100%);
  --color-purple-opacity-20: #7156FD33;
  --color-dark-purple: #140132;
  --color-red: #d00000;

  --container-width: 85rem;

  --transition-duration: 0.2s;

  --font-family: 'Montserrat', sans-serif;
}